.wrapper.dark {
  padding: 1rem;
  border: 1px solid lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: darkslategray;
}

.wrapper.light {
  padding: 1rem;
  border: 1px solid lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  background: rgb(99, 181, 253);
}