

.wrapper.dark {
  padding: 2rem;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: darkslategray;
}

.wrapper.light {
  padding: 2rem;
  border-bottom:  1px solid rgb(94, 81, 231);
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  background: rgb(126, 164, 196);
}