.wrapper {
  padding: 1rem;
  border-bottom: 1px solid rgb(94, 81, 231);;
  display: flex;
  align-items: center;
  justify-content: center;
  background: lightgrey;
  box-shadow: 5px 5px 5px rgb(54, 54, 54);
  z-index: 9;
}

.links {
  display: flex;
  font-weight: bold;
}

.activeLink,
.inactiveLink {
  padding: 0 2rem;
}

.activeLink {
  color: #000;
}

.inactiveLink {
    color: #666;
}